.App {
  text-align: center;
  width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.github {
  position: fixed;
  right: 0;
  top: 10px;
  cursor: pointer;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}

.auth {
  position: relative;
  left: 6px;
  top: 21px;
  font-size: 14px;
  font-weight: 500;
}

.file-preview {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px;
  height: 382px;
  margin-bottom: 5px;
}

.file-preview-thumbnails {
  display: flex;
  justify-content: center;
}

.file-drop-zone {
  border: 1px dashed #aaa;
  border-radius: 4px;
  height: 345px;
  text-align: center;
  vertical-align: middle;
  margin: 12px 15px 12px 12px;
  padding: 5px;
}

.file-drop-zone-title {
  color: #aaa;
  font-size: 1.6em;
  padding: 85px 10px;
  cursor: default;
}

.file-content {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.img {
  max-height: 300px;
}

.file-caption-main {
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.file-name {
  flex-grow: 1;
}

.url-container {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
}

.icon-copy {
  margin-left: 10px;
}

.cursor {
  cursor: pointer;
}

.message {
  position: absolute;
  bottom: 0 !important;
}

.enter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
